
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    GroceryStores.GroceryStore[] allGroceryStores = (GroceryStores.GroceryStore[])ViewData["allGroceryStores"];
    BusinessOwnerDetails.BusinessOwner[] allOwners = (BusinessOwnerDetails.BusinessOwner[])ViewData["allBusinessOwners"];
    List<BusinessOwnerDetails.BusinessOwner> groceryStoresOwners = (List<BusinessOwnerDetails.BusinessOwner>)ViewData["groceryStoresOwners"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <table>
        <tr>

            <th>Account Number</th>
            <th>License Id</th>
            <th>Store Name</th>
        </tr>
        @{
            foreach (GroceryStores.GroceryStore groceryStoreOwner in allGroceryStores)
            {
                <tr>
                    <td>@groceryStoreOwner.AccountNumber</td>
                    <td>@groceryStoreOwner.LicenseId</td>
                    <td>@groceryStoreOwner.StoreName</td>

                </tr>
            }
        }
    </table>
</div>


